h1 {
    margin: 20px;
    color: #4D9BC1;
    width: 15%;
    border-bottom: 1px solid #4D9BC1;
}

h3 {
    margin-left: 40px;
    color: #4D9BC1;
    width: 10%;
    border-bottom: 1px solid #4D9BC1;
}

.menu {
    margin-top: 30px !important;
    position: relative;
    width: auto;
    height: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.menu>li {
    float: left;
    width: 25%;
    /* グローバルナビ4つの場合 */
    height: 50px;
    line-height: 50px;
    background: white;
    border: 1px solid #4D9BC1;
}

.menu>li a {
    display: block;
    color: #4D9BC1;
}

.menu>li a:hover {
    color: red;
    font-size: 1.2em;
    /* transform: rotate(5deg); */
}

ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

ul.menu__third-level {
    visibility: hidden;
    opacity: 0;
}

ul.menu__fourth-level {
    visibility: hidden;
    opacity: 0;
}

.menu>li:hover {
    /* background: #4D9BC1; */
    -webkit-transition: all .5s;
    transition: all .5s;
}

.menu__third-level li {
    border: 1px solid #FFE4B5;
}

.menu__second-level li a:hover {
    background: #4D9BC1;
    color: white;
}

.menu__third-level li a:hover {
    background: white;
}


/* 下矢印 */

.init-bottom:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #4D9BC1;
    border-bottom: 1px solid #4D9BC1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* floatクリア */

.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu>li.menu__single {
    position: relative;
}

li.menu__single ul.menu__second-level {
    position: absolute;
    top: 40px;
    width: 100%;
    background: wheat;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.menu__single:hover ul.menu__second-level {
    top: 50px;
    visibility: visible;
    opacity: 1;
}

li.menu__mega ul.menu__second-level {
    position: absolute;
    top: 40px;
    left: 0;
    /* border-bottom: 1px solid #FFE4B5; */
    box-sizing: border-box;
    width: 100%;
    padding: 20px 1%;
    background: wheat;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.menu__mega:hover ul.menu__second-level {
    top: 50px;
    visibility: visible;
    opacity: 1;
}

li.menu__mega ul.menu__second-level>li {
    float: left;
    width: 22%;
    border: none;
}

li.menu__mega ul.menu__second-level>li:nth-child(3n+2) {
    margin: 0 1%;
}

.word_card {
    align-items: center;
    text-align: center;
    margin: 30px 15%;
    width: 70%;
    height: 500px;
    border: 1px dotted #4D9BC1;
}

.hder {
    margin-left: 50px;
}

.hd_text1 {
    width: 100%;
    margin: 5px;
}

.hd_text1 {
    font-size: 1.5em;
    color: #4D9BC1;
    display: inline-block;
    font-size: 120%;
    text-decoration: none;
    transition: .3s;
}

.hd_text1:hover {
    color: red;
    font-size: 1.2em;
    transform: rotate(5deg);
}

.now_mm {
    width: fit-content;
}

.lib_title {
    margin: 20px;
}

.mx-all {
    margin-left: 11%;
}


/* css của thanh hiển thị % */

#progressContainer {
    width: 100%;
    background-color: #ddd;
}

#progressBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

.flashcard-container-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-color: #eaeaea; */
    background-image: url('../images/flashCard_bg.jpg');
    background-size: 800px 400px;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 20px;
    box-sizing: border-box;
}

.flashcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.flashcard {
    margin-top: -50px;
    width: 400px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: white;
    cursor: pointer;
    perspective: 1000px;
    position: relative;
}

.flashcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flashcard.flip .flashcard-inner {
    transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    padding: 20px;
    border-radius: 12px;
    box-sizing: border-box;
    /* Đảm bảo padding không làm thay đổi kích thước */
}

.flashcard-content {
    transform: rotateY(180deg);
    background-color: #fafafa;
    color: #333;
    text-align: left;
    /* Căn văn bản sang trái */
    align-items: flex-start;
    /* Căn các thành phần con trong flex container sang trái */
}

.buttons {
    margin-top: 300px !important;
    width: 100%;
    display: flex;
}

.prevBtn {
    margin: 5px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 200px;
}

.prevBtn::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 4px;
    width: 100%;
    height: 100%;
    -moz-border-radius: 100vh;
    -webkit-border-radius: 100vh;
    border-radius: 100vh;
    background-color: #4D9BC1;
}

.prevBtn span {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    border-radius: 100vh;
    border: solid 1px #4D9BC1;
    color: #4D9BC1;
    padding: 1em 2em;
    background-color: #FFF;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.prevBtn:hover span {
    background-color: #4D9BC1;
    color: white;
    transform: translate(4px, 4px);
    transition: all 0.3s ease-in-out;
}

.nextBtn {
    margin: 5px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 200px;
}

.nextBtn::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 4px;
    width: 100%;
    height: 100%;
    -moz-border-radius: 100vh;
    -webkit-border-radius: 100vh;
    border-radius: 100vh;
    background-color: #4D9BC1;
}

.nextBtn span {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    border-radius: 100vh;
    border: solid 1px #4D9BC1;
    color: #4D9BC1;
    padding: 1em 2em;
    background-color: #FFF;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nextBtn:hover span {
    background-color: #4D9BC1;
    color: white;
    transform: translate(4px, 4px);
    transition: all 0.3s ease-in-out;
}

.btcomplete {
    margin: 5px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 200px;
}

.btcomplete::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 4px;
    width: 100%;
    height: 100%;
    -moz-border-radius: 100vh;
    -webkit-border-radius: 100vh;
    border-radius: 100vh;
    background-color: #4D9BC1;
}

.btcomplete span {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    border-radius: 100vh;
    border: solid 1px #4D9BC1;
    color: #4D9BC1;
    padding: 1em 2em;
    background-color: #FFF;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btcomplete:hover span {
    background-color: #4D9BC1;
    color: white;
    transform: translate(4px, 4px);
    transition: all 0.3s ease-in-out;
}

.bt_try {
    margin: 5px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 200px;
}

.bt_try::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 4px;
    width: 100%;
    height: 100%;
    -moz-border-radius: 100vh;
    -webkit-border-radius: 100vh;
    border-radius: 100vh;
    background-color: #4D9BC1;
}

.bt_try span {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    border-radius: 100vh;
    border: solid 1px #4D9BC1;
    color: #4D9BC1;
    padding: 1em 2em;
    background-color: #FFF;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.bt_try:hover span {
    background-color: #4D9BC1;
    color: white;
    transform: translate(4px, 4px);
    transition: all 0.3s ease-in-out;
}